<a href="https://colab.research.google.com/github/HONAJIPHAD/Topic-Modeling-On-News-Article/blob/main/News_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd
import numpy as np
import glob
import os

In [69]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [70]:
data_folder = "/content/drive/MyDrive/Capston Projects/New folder"
folders = ["business","entertainment","politics","sport","tech"]

In [71]:
os.listdir(data_folder)

['entertainment', 'business', 'tech', 'sport', 'politics']

In [72]:
files = os.listdir("/content/drive/MyDrive/Capston Projects/New folder")

In [73]:
folderslist = [f for f in os.listdir(data_folder) if not f.startswith('.')]

In [74]:
folderslist

['entertainment', 'business', 'tech', 'sport', 'politics']

In [75]:
news = []
newstype = []

In [76]:
for folder in folders:
    folder_path = "/content/drive/MyDrive/Capston Projects/New folder/"+folder+'/'
    files = os.listdir(folder_path)
    for text_file in files:
        file_path = folder_path + "/" +text_file
        with open(file_path, errors='replace') as f:
            data = f.readlines()
        data = ' '.join(data)
        news.append(data)
        newstype.append(folder)

In [77]:
len(newstype)

2225

In [78]:
#make a dict of news and its corresponding type
datadict = {'news':news, 'type':newstype}

In [79]:
#write the dictionary to a csv file
df = pd.DataFrame(datadict)
df.to_csv('./bbc.csv')

In [80]:
data = pd.read_csv('bbc.csv')

In [81]:
data

      Unnamed: 0                                               news      type
0              0  Disney settles disclosure charges\n \n Walt Di...  business
1              1  Asia shares defy post-quake gloom\n \n Thailan...  business
2              2  India-Pakistan peace boosts trade\n \n Calmer ...  business
3              3  Quake's economic costs emerging\n \n Asian gov...  business
4              4  Ailing EuroDisney vows turnaround\n \n EuroDis...  business
...          ...                                                ...       ...
2220        2220  Ink helps drive democracy in Asia\n \n The Kyr...      tech
2221        2221  Digital guru floats sub-$100 PC\n \n Nicholas ...      tech
2222        2222  Fast moving phone viruses appear\n \n Security...      tech
2223        2223  Casual gaming to 'take off'\n \n Games aimed a...      tech
2224        2224  UK pioneers digital film network\n \n The worl...      tech

[2225 rows x 3 columns]